<div class="container">
  <form method="post" asp-controller="Home" asp-action="Upload" enctype="multipart/form-data">
    <div class="text-center">
        <h1 class="display-4">File Convertor</h1>
    </div>
    <div class="mb-3">
        <label class="form-label">Upload File</label>
        <input type="file" name="markdownfile" class="form-control">
    </div>
    <div class="mb-3">
       <button type="submit" class="btn btn-primary">Upload</button>
    </div>
   </form>
</div>